# Data Science Tools and Ecosystem

In this notebook, we will explore some of the languages, libraries, and tools used in data science.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries
- Demonstrate arithmetic expressions in Python

**Author: Lina Melcharek**

**Popular Data Science Languages:**
- Python
- R
- SQL

**Common Data Science Libraries:**
- Pandas
- NumPy
- Matplotlib

| Tool | Category |
|------|----------|
| Jupyter Notebook | IDE |
| RStudio | IDE |
| Tableau | Data Visualization |

### Examples of Arithmetic Expressions in Python
Below are simple examples of how to multiply and add numbers in Python.

In [1]:
# This a simple arithmetic expression to multiply then add integers
result_multiply = (3 * 4) + 5 
result_multiply

17

In [2]:
minutes = 120
hours = minutes / 60
hours
# This will convert 200 minutes to hours by diving by 60.

2.0